body {
    margin: 0;
    padding: 0;
}

#father {
    border: 2px blue solid;
}

#top_menu {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: rgb(70, 234, 237);
}

#top_menu__info_com {
    position: absolute;
    border: 3px solid yellow;
    top: 0px;
    left: 20px;
    text-align: center;
    color: darkblue;
    font-weight: bold;
    width: 400px;
}

#top_menu__log {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    border: 2px red solid;
}

#top_menu__log div {
    margin: 2px;
    border: blue solid 2px;
    color: red;
}

#father>div {
    margin-bottom: 5px;
    border: solid 2px blue;
}

#list_menu {
    display: flex;
}

#list_menu div {
    margin: 5px;
    border: red solid 2px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    padding: 5px;
}

#list_menu div:first-child,
#list_menu div:last-child {
    color: blue;
}

#list_menu div:hover {
    background-color: cyan;
}

#mid_menu {
    display: flex;
}

#mid_menu__left {
    border: solid 2px greenyellow;
    width: calc((100% - 60%)/2);
}

#mid_menu__left div {
    color: blue;
    border-bottom: black solid 5px;
    margin: 10px;
}

#mid_menu__middle {
    width: 60%;
}

#mid_menu__right {
    border: solid 2px greenyellow;
    width: calc((100% - 60%)/2);
}

#bot_menu {
    border: solid 2px green !important;
    height: 50px;
    width: 100%;
}

#mid_menu__middle {
    border: 3px solid black;
    display: flex;
}

img {
    border-radius: 50%;
    border: 3px solid blue;
    width: 100px;
    height: 100px;
}

.sanpham {
    width: calc(33.33%-20px);
    margin: 10px;
    border: 3px solid red;
}

.sanpham div {
    margin: 10px;
    border-bottom: 3px solid black;
}

